<launch>
    <!-- start drivers node-->
    <include file = "$(find can_bridge)/launch/can_bridge.launch"></include>
    <include file = "$(find canparse)/launch/canparse.launch"></include>
    <include file = "$(find cansend)/launch/cansend.launch"></include>
    <include file = "$(find serial_com)/launch/serial_com.launch"></include>
    <include file = "$(find gps)/launch/gps.launch"></include>
    <include file = "$(find obu_send)/launch/obu_send.launch"></include>

    <!-- localization -->
    <include file = "$(find localization_adapter)/launch/localization_adapter.launch"></include>
</launch>